<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover"">  
<link rel="stylesheet" type="text/css" href="../public/css/index.css?v=a3fac8c334">
<head>
    <title>大家</title>
</head>
<body>

    <!-- 加载页面 -->
    <div class="loading">
        <div class="loading-text-wrap">
            <div class="text">建议在WIFI下观看，正在加载中...</div>
            <div class="percent"></div>
        </div>
        <div class="cloud"></div>
        <div class="cp">出品：xxx公司出品</div>
    </div>
    
    <div class="item-wrap">
        <ul>
            <li class="cover">
                <div class="cover-text"></div>
            </li>
            <li class="choose">
                <div class="choose-text">
                    <p>好不容易穿越，<br>你可以选择一次重新做人的机会：</p>
                </div>
                <div class="choose-btn">
                    <div class="btn-man ac_choose"></div>
                    <div class="btn-woman ac_choose"></div>
                </div>
            </li>
            <li class="main">
                <div class="share-btn"></div>
                <div class="person"></div>
                <div class="desk"></div>
                <div class="btns">
                    <div class="btn btn-zhong ac_choose"></div>
                    <div class="btn btn-wen ac_choose"></div>
                    <div class="btn btn-rui ac_choose"></div>
                    <div class="btn btn-xing ac_choose"></div>
                    <div class="btn btn-zhi ac_choose"></div>
                    <div class="btn-upgradePerson ac_choose"></div>
                </div>
            </li>
            <li class="answer">
                <div class="answer-box">
                    <div class="title">关于黄圣依和杨子的感情，以下哪种观点没有在《大家》提起过？</div>
                    <div class="result-options">
                        <div class="opt current">
                            <span>A:选项a</span>
                            <div class="animation-correct"></div>
                            <div class="animation-wrong"></div>
                        </div>
                        <div class="opt">
                            <span>B:选项b</span>
                            <div class="animation-correct"></div>
                            <div class="animation-wrong"></div>
                        </div>
                        <div class="opt">
                            <span>C:选项c</span>
                            <div class="animation-correct"></div>
                            <div class="animation-wrong"></div>
                        </div>
                    </div>
                    <div class="num-count"><span>1</span>/3</div>
                </div>
                <div class="result-box tips_success">
                    <div class="result-wrap">
                        <div class="title">解锁成功</div>
                        <div class="result-flag"></div>
                        <div class="result-text">获得xxx</div>
                    </div>
                </div>
                <div class="result-box tips_failed">
                    <div class="result-wrap">
                        <div class="title">解锁失败</div>
                        <div class="result-text">您与道具擦肩而过，再试一次吧！</div>
                    </div>
                </div>
                <div class="result-renwu-box">
                    <div class="result-wrap">
                        <div class="title">答对4题</div>
                        <div class="result-text">恭喜你，人物形象升级为</div>
                        <div class="result-flag">贵妃</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    


    <script src="../public/js/index.js"></script>
</body>
</html>
